SNX_SERVER=checkpoint.vpn.gateway
SNX_USER=username
SNX_PASS=password

# Root CA fingerprint. Use * to allow any value
SNX_ROOTCA=ASDF QWER ZXCV POIU LKJH MNBV TYUI GHJK BNM

# Enable debug mode
#SNX_DEBUG=y
